<h2>Population Progress</h2>
<canvas id="chartPopulationProgress" width="200" height="200"></canvas>
<script>
    var vLabelsPopulationProgress = ["genomes created", "genomes to be created"];
    var vDataPopulationProgress = [0, 0];

    var ctxPopulationProgress = document.getElementById("chartPopulationProgress");
    var chartPopulationProgress = new Chart(ctxPopulationProgress,
        {
            type: 'doughnut',
            data: {
                labels: vLabelsPopulationProgress, 
                datasets: [
                    {
                        data: vDataPopulationProgress,
                        backgroundColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)"]
                    }
                ]
            },
            options: {
                animation: false
            }
        });

    setInterval(function () {
        $.getJSON("/api/evolver/population",
            function (data) {
                vDataPopulationProgress.pop();
                vDataPopulationProgress.pop();
                vDataPopulationProgress.push(data.current);
                vDataPopulationProgress.push(data.max - data.current);

                chartPopulationProgress.update();
            });
        },
        reloadInterval
    );
</script>