<h2>Top Solutions</h2>
<table id="tableTopSolutions" class="table table-hover">
    <thead>
        <tr>
            <th>Fitness</th>
            <th>Process</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    setInterval(function () {
        $.getJSON({
            url: '/api/analytics/topsolutions',
            type: "GET",
            success: function (data) {
                if (data == null || data.length == 0 || data[0] == null) {
                    return;
                }

                $('#tableTopSolutions tbody').empty();

                data.forEach(function (item) {
                    item.Process = item.Process.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                    $('#tableTopSolutions tbody')
                        .append('<tr><td>' + item.Fitness + '</td><td>' + item.Process + '</td></tr>');
                });
            }
        });
    },
        reloadInterval); // every 3 sec
</script>