<h2>Best Solution</h2>
<div id="canvas" style="height: 500px; width: 100%;"></div>
<script>
    // create viewer
    BpmnViewer = window.BpmnJS;

    var bpmnViewer = new BpmnViewer({
        container: '#canvas'
    });

    $(function() {
        setInterval(function() {
                $.ajax({
                    url: "/api/analytics/bestsolution",
                    dataType: "xml",
                    type: "GET",
                    success: function(xml) {
                        const xmlText = new XMLSerializer().serializeToString(xml);

                        bpmnViewer.importXML(xmlText,
                            function(err) {

                                if (!err) {
                                    console.log('success!');
                                    // zoom to fit full viewport
                                    bpmnViewer.get('canvas').zoom('fit-viewport');
                                } else {
                                    console.log('something went wrong:', err);
                                }
                            });
                    }
                });
            },
            reloadInterval);
    });
</script>