<h2>Top Solutions</h2>
<table id="tableTopSolutions" class="table table-hover">
    <thead>
        <tr>
            <th>Fitness</th>
            <th>&nbsp;</th>
            <th>Process</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    setInterval(function () {
        $.getJSON({
            url: '/api/analytics/topsolutions',
            type: "GET",
            success: function (data) {
                if (data == null || data.length == 0 || data[0] == null) {
                    return;
                }

                $('#tableTopSolutions tbody').empty();

                data.forEach(function (item) {
                    item.Process = item.Process.replace(/</g, '&lt;').replace(/>/g, '&gt;');

                    var row = "<tr>";
                    row += `<td>${Math.round(item.Fitness * 1000) / 1000}</td>`;
                    row += `<td><a href="javascript:loadProcessViewer('${item.Id}')"><span class="glyphicon glyphicon-eye-open"></span></a></td>`;
                    row += `<td><p>${item.Process}</p>`;
                    row += `<p><b>Time</b>: ${Math.round(item.TimeFitness * 1000) / 1000}`;
                    row += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                    row += `<b>Cost</b>: ${Math.round(item.CostFitness * 1000) / 1000}`;
                    row += '</p></td></tr>';

                    $('#tableTopSolutions tbody')
                        .append(row);
                });
            }
        });
    },
        reloadInterval); // every 3 sec
</script>
<div id="processModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Process Viewer</h4>
            </div>
            <div class="modal-body">
                <div id="canvasProcessViewer" style="height: 500px; width: 100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="enterFullscreen"><span class="glyphicon glyphicon-screen" aria-hidden="true"></span>&nbsp;Fullscreen</button>
                <button type="button" class="btn btn-success" id="graphDownload"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>&nbsp;BPMN 2.0 XML</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <script>
                $('#enterFullscreen').click(function () {
                    var el = document.getElementById("canvasProcessViewer");

                    if (el.requestFullscreen) {
                        el.requestFullscreen();
                    } else if (el.webkitRequestFullScreen) {
                        el.webkitRequestFullScreen();
                    } else {
                        el.mozRequestFullScreen();
                    }
                });

                $('#graphDownload').click(function () {
                    window.open("/api/graphdownload");
                });
            </script>
        </div>

    </div>
</div>
<script>
    // create viewer
    BpmnViewer = window.BpmnJS;

    var bpmnViewerProcess = new BpmnViewer({
        container: '#canvasProcessViewer'
    });

    function loadProcessViewer(id) {
        $('#processModal')
            .on("shown.bs.modal",
                function () {
                    bpmnViewerProcess.clear();

                    $.ajax({
                        url: `/api/analytics/solution/${id}`,
                        dataType: "xml",
                        type: "GET",
                        success: function (xml) {
                            bpmnViewerProcess.clear();

                            var xmlTextProcessViewer = new XMLSerializer().serializeToString(xml);

                            bpmnViewerProcess.importXML(xmlTextProcessViewer,
                                function (err) {

                                    if (!err) {
                                        console.log('success!');
                                        // zoom to fit full viewport
                                        bpmnViewerProcess.get('canvas').zoom('fit-viewport');
                                    } else {
                                        console.log('something went wrong:', err);
                                    }
                                });
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                })
            .on("hidden.bs.modal", function () {
                bpmnViewerProcess.clear();
            })
            .modal("show"); //Same as first method
    }
</script>