<div class="row">
    <div class="col-md-12">
        @Html.Partial("Analytics_PopulationProgress")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("Analytics_BestSolution")
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Max Fitness</h2>
        <canvas id="chartMaxFitness" width="400" height="400"></canvas>
        <script>
            var vLabelsMaxFitness = [];
            var vDataMaxFitness = [];

            var ctxMaxFitness = document.getElementById("chartMaxFitness");
            var chartMaxFitness = new Chart(ctxMaxFitness,
                {
                    type: 'line',
                    data: {
                        labels: vLabelsMaxFitness,
                        datasets: [
                            {
                                label: 'Maximum Fitness Value of each Generation',
                                data: vDataMaxFitness,
                                borderColor: "#5cb85c",
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                    }
                });

            $(function() {
                setInterval(function() {
                        $.getJSON("/api/analytics/fitness/".concat(vDataMaxFitness.length),
                            function(data) {
                                if (data["max"].length > 0) {
                                    data["max"].forEach(function(item) {
                                        vLabelsMaxFitness.push(vLabelsRuntime.length);
                                        vDataMaxFitness.push(item);
                                    });
                                    chartMaxFitness.update();
                                }
                            });
                    },
                    reloadInterval);
            });
        </script>
    </div>
    <div class="col-md-6">
        <h2>Top Solutions</h2>
        <table id="tableTopSolutions" class="table table-hover">
            <thead>
            <tr>
                <th>Fitness</th>
                <th>Process</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <script>
            $(function() {
                setInterval(function() {
                        $.getJSON({
                            url: '/api/analytics/topsolutions',
                            type: "GET",
                            success: function(data) {
                                if (data == null || data.length == 0 || data[0] == null) {
                                    return;
                                }

                                $('#tableTopSolutions tbody').empty();

                                data.forEach(function(item) {
                                    item.Process = item.Process.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                                    $('#tableTopSolutions tbody')
                                        .append('<tr><td>' + item.Fitness + '</td><td>' + item.Process + '</td></tr>');
                                });
                            }
                        });
                    },
                    reloadInterval); // every 3 sec
            });
        </script>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Runtime</h2>
        <canvas id="chartRuntime" width="400" height="400"></canvas>
        <script>
            var vLabelsRuntime = [];
            var vMaxDataRuntime = [];
            var vMinDataRuntime = [];
            var vAvgDataRuntime = [];

            var ctxRuntime = document.getElementById("chartRuntime");
            var chartRuntime = new Chart(ctxRuntime,
                {
                    type: 'line',
                    data: {
                        labels: vLabelsRuntime,
                        datasets: [
                            {
                                label: 'max runtime',
                                data: vMaxDataRuntime,
                                borderColor: "#CE93D8",
                                borderWidth: 1
                            }, {
                                label: 'min runtime',
                                data: vMinDataRuntime,
                                borderColor: "#4A148C",
                                borderWidth: 1
                            }, {
                                label: 'avg runtime',
                                data: vAvgDataRuntime,
                                borderColor: "#9C27B0",
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                    }
                });

            $(function() {
                setInterval(function() {
                        $.getJSON("/api/analytics/runtime/".concat(vAvgDataRuntime.length),
                            function(data) {
                                if (data["avg"].length > 0) {
                                    data["avg"].forEach(function(item) {
                                        vLabelsRuntime.push(vLabelsRuntime.length);
                                        vAvgDataRuntime.push(item);
                                    });
                                    data["min"].forEach(function(item) { vMinDataRuntime.push(item); });
                                    data["max"].forEach(function(item) { vMaxDataRuntime.push(item); });
                                    chartRuntime.update();
                                }
                            });
                    },
                    reloadInterval);
            });
        </script>
    </div>
    <div class="col-md-6">
        <h2>Valide Genomes</h2>
        <canvas id="chartValidGenomes" width="400" height="400"></canvas>
        <script>
            var vLabelsValidGenomes = [];
            var vDataValidGenomes = [];

            var ctxValidGenomes = document.getElementById("chartValidGenomes");
            var chartValidGenomes = new Chart(ctxValidGenomes,
                {
                    type: 'line',
                    data: {
                        labels: vLabelsValidGenomes,
                        datasets: [
                            {
                                label: 'valid genomes',
                                data: vDataValidGenomes,
                                borderColor: "#F44336",
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [
                                {
                                    display: true,
                                    ticks: {
                                        suggestedMin: 0, // minimum will be 0, unless there is a lower value.
                                        suggestedMax: 1 // maximum will be 1, unless there is a higher value.
                                    }
                                }
                            ]
                        }
                    }
                });

            $(function() {
                setInterval(function() {
                        $.getJSON("/api/analytics/validgenomes/".concat(vDataValidGenomes.length),
                            function(data) {
                                if (data.length > 0) {
                                    data.forEach(function(item) {
                                        vLabelsValidGenomes.push(vLabelsValidGenomes.length);
                                        vDataValidGenomes.push(item);
                                    });
                                    chartValidGenomes.update();
                                }
                            });
                    },
                    reloadInterval);
            });
        </script>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Fitness Developement</h2>
        <canvas id="chartFitness" width="400" height="400"></canvas>
        <script>
            var vLabelsFitness = [];
            var vMaxDataFitness = [];
            var vMinDataFitness = [];
            var vAvgDataFitness = [];

            var ctxFitness = document.getElementById("chartFitness");
            var chartFitness = new Chart(ctxFitness,
                {
                    type: 'line',
                    data: {
                        labels: vLabelsFitness,
                        datasets: [
                            {
                                label: 'max fitness',
                                data: vMaxDataFitness,
                                borderColor: "#5cb85c",
                                borderWidth: 1
                            }, {
                                label: 'min fitness',
                                data: vMinDataFitness,
                                borderColor: "#5cb85c",
                                borderWidth: 1
                            }, {
                                label: 'avg fitness',
                                data: vAvgDataFitness,
                                borderColor: "#5cb85c",
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                    }
                });

            $(function() {
                setInterval(function() {
                        $.getJSON("/api/analytics/fitness/".concat(vMaxDataFitness.length),
                            function(data) {
                                if (data["avg"].length > 0) {
                                    data["avg"].forEach(function(item) {
                                        vLabelsFitness.push(vLabelsFitness.length);
                                        vAvgDataFitness.push(item);
                                    });
                                    data["min"].forEach(function(item) { vMinDataFitness.push(item); });
                                    data["max"].forEach(function(item) { vMaxDataFitness.push(item); });
                                    chartFitness.update();
                                }
                            });
                    },
                    reloadInterval);
            });
        </script>
    </div>
    <div class="col-md-6">
        <h2>Console</h2>
    </div>
</div>