<h2>Controls</h2>
<p>
    <input id="controlStart" class="btn btn-success" type="button" disabled value="Start"/>
    <input id="controlStop" class="btn btn-danger" type="button" disabled value="Stop"/>
    <script>
        $(function() {
            setInterval(function() {
                    $.ajax({
                        url: '/api/status',
                        type: 'GET',
                        success: function(data) {
                            if (data.Ready) {
                                $("#controlStart").prop("disabled", false);
                                $("#controlStop").prop("disabled", true);
                            } else if (data.Running && !data.StopRequested) {
                                $("#controlStart").prop("disabled", true);
                                $("#controlStop").prop("disabled", false);
                            } else if (data.Running && data.StopRequested) {
                                $("#controlStart").prop("disabled", true);
                                $("#controlStop").prop("disabled", true);
                            } else if (data.Stopped) {
                                $("#controlStart").prop("disabled", false);
                                $("#controlStop").prop("disabled", true);
                            }
                        }
                    });
                },
                reloadInterval);
        });

        function emptyArray(array) {
            while (array.length > 0) {
                array.pop();
            }
        };

        $(function() {
            $("#controlStart").click(function() {
                $.ajax({
                    url: "/api/start",
                    type: "GET",
                    success: function() {
                        emptyArray(vDataGenerationProgress);
                        chartGenerationProgress.update();

                        emptyArray(vDataPopulationProgress);
                        chartPopulationProgress.update();

                        emptyArray(vLabelsMaxFitness);
                        emptyArray(vDataMaxFitness);
                        chartMaxFitness.update();

                        $('#tableTopSolutions tbody').empty();

                        emptyArray(vLabelsRuntime);
                        emptyArray(vAvgDataRuntime);
                        emptyArray(vMinDataRuntime);
                        emptyArray(vMaxDataRuntime);
                        chartRuntime.update();

                        emptyArray(vLabelsValidGenomes);
                        emptyArray(vDataValidGenomes);
                        chartValidGenomes.update();

                        emptyArray(vLabelsFitness);
                        emptyArray(vAvgDataFitness);
                        emptyArray(vMaxDataFitness);
                        emptyArray(vMinDataFitness);
                        chartFitness.update();

                        emptyArray(vLabelsFitnessValidOnly);
                        emptyArray(vAvgDataFitnessValidOnly);
                        emptyArray(vMaxDataFitnessValidOnly);
                        emptyArray(vMinDataFitnessValidOnly);
                        chartFitnessValidOnly.update();
                    }
                });
            });
            $("#controlStop").click(function() {
                $.ajax({ url: "/api/stop", type: "GET" });
            });
        });
    </script>
</p>