<h3>Covering</h3>
<table id="tableCover" class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>
                <a href="#modalCover" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="modalCover" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDataCover" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Cover</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="form-horizontal col-md-10">
                            <div class="form-group">
                                <label for="dataCoverActivity">Select Activity:</label>
                                <select multiple required="required" class="form-control" id="dataCoverActivity"></select>
                            </div>

                            <div class="form-group">
                                <label for="dataCoverAttribute">Select Attribute:</label>
                                <select multiple required="required" class="form-control" id="dataCoverAttribute"></select>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="submitFormDataCover" class="btn btn-success" value="Create" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>

    </div>
</div>
<script>
    $('#formDataCover').submit(function () {
        if ($(this).valid()) {
            createCover();
        }

        return false;
    });

    function createCover() {
        var activities = $('#dataCoverActivity').val();
        var attributes = $('#dataCoverAttribute').val();

        var models = [];

        activities.forEach(function (activity) {
            attributes.forEach(function (attributeId) {
                var attribute = $.grep(dataContainer.getAttributes(),
                    function(item) {
                        return item.id == attributeId;
                    });

                var model = new Object();
                model.activityName = activity;
                model.decisionId = attribute[0].decisionId;
                model.decisionValue = attribute[0].decisionValue;
                models.push(model);
            });
        });

        $.ajax({
            url: "/api/covers",
            type: "POST",
            data: JSON.stringify(models),
            contentType: "application/json",
            success: function () {
                loadCovers();

                $("#modalCover").modal("hide");
                $('#formDataCover').trigger("reset");
            },
            error: function () {
                // TODO
            }
        });

    }

    function loadCovers(async = true) {
        $.ajax({
            url: '/api/covers',
            type: "GET",
            async: async,
            success: function (data) {
                displayCover(data);
            }
        });
    }

        function displayCover(covers) {
            $('#tableCover thead').empty();
            var thead = '<tr><th>Name</th>';
            dataContainer.getAttributes().forEach(function (attribute) {
                thead += '<th>' + attribute.decisionId + "-" + attribute.decisionValue + '</th>';
            });
            thead += '<th><a href="#modalCover" data-toggle="modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></th></tr>';
            $('#tableCover thead').append(thead);

            $('#tableCover tbody').empty();
            dataContainer.getActivities().forEach(function (activity) {
                var s = '<tr><th>' + activity.name + '</th>';

                dataContainer.getAttributes().forEach(function (attribute) {
                    var val = $.grep(covers,
                        function (value) {
                            return (value.activityName == activity.name) && (value.decisionId == attribute.decisionId) && (value.decisionValue == attribute.decisionValue);
                        });

                    if (val.length > 0) {
                        s += '<td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>';
                        s += '&nbsp;<a href="javascript:dataDeleteCover(\'' + val[0].id + '\')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>';
                    } else {
                        s += '<td></td>';
                    }
                });

                $('#tableCover tbody').append(s);
            });
        }


        function dataDeleteCover(id) {
            $.ajax({
                url: "/api/covers/" + id,
                type: "DELETE",
                success: function () {
                    loadAll();
                },
                error: function () {
                    // TODO
                }
            });
        }
</script>
