<h3>Input</h3>
<table id="tableInput" class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>...</td>
            <td>
                <a href="#modalInput" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="modalInput" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDataInput" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Input</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal col-md-10">
                        <div class="form-group">
                            <label for="inputObject">Select Object:</label>
                            <select multiple class="form-control" id="inputObject"></select>
                        </div>

                        <div class="form-group">
                            <label for="inputActivity">Select Activity:</label>
                            <select multiple class="form-control" id="inputActivity"></select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="submitFormDataInput" class="btn btn-success" value="Create" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <script>
                    $(function () {
                        $('#formDataInput').submit(function () {
                            if ($(this).valid()) {

                                var activities = $('#inputActivity').val();
                                var objects = $('#inputObject').val();

                                var models = [];

                                activities.forEach(function (activity) {
                                    objects.forEach(function (object) {

                                        var model = new Object();
                                        model.activityName = activity;
                                        model.objectName = object;
                                        models.push(model);
                                    });
                                });

                                $.ajax({
                                    url: "/api/activityinputs",
                                    type: "POST",
                                    data: JSON.stringify(models),
                                    contentType: "application/json",
                                    success: function () {
                                        $("#modalInput").modal("hide");
                                        $('#formDataInput').trigger("reset");
                                    },
                                    error: function () {
                                        // TODO
                                    }
                                });
                            }

                            return false;
                        });
                    });
                </script>
            }
        </div>

    </div>
</div>
<script>

    $(function () {
        setInterval(function () {
            $.getJSON({
                url: '/api/activityinputs',
                type: "GET",
                success: function (data) {
                    if (data == null || data.length == 0 || data[0] == null) {
                        return;
                    }

                    var objects = [];
                    data.forEach(function (input) {
                        if ($.inArray(input.objectName, objects) < 0) {
                            objects.push(input.objectName);
                        }
                    });

                    var activities = [];
                    data.forEach(function (input) {
                        if ($.inArray(input.activityName, activities) < 0) {
                            activities.push(input.activityName);
                        }
                    });

                    $('#inputObject').empty();
                    objects.forEach(function (object) {
                        $('#inputObject').append("<option>" + object + "</option>");
                    });

                    $('#inputActivity').empty();
                    activities.forEach(function (activity) {
                        $('#inputActivity').append("<option>" + activity + "</option>");
                    });

                    $('#tableInput thead').empty();
                    var thead = '<tr><td>Name</td>';
                    objects.forEach(function (object) {
                        thead += '<td>' + object + '</td>';
                    });
                    thead += '<td><a href="#modalInput" data-toggle="modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td></tr>';
                    $('#tableInput thead').append(thead);

                    $('#tableInput tbody').empty();
                    activities.forEach(function (item) {
                        var s = '<tr><td>' + item + '</td>';

                        objects.forEach(function (object) {
                            var val = $.grep(data,
                                function (value) {
                                    return (value.objectName == object) && (value.activityName == item);
                                });

                            if (val.length > 0) {
                                s += '<td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>';
                                s += '&nbsp;<a href="javascript:dataDeleteInput(\'' + val[0].id + '\')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>';
                            } else {
                                //s += '<td><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></td>';
                                s += '<td></td>';
                            }
                        });

                        //s += '<td><a href="javascript:dataDeleteInput(\'' + item.id + '\')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td></tr>';

                        $('#tableInput tbody').append(s);
                    });
                }
            });
        },
            reloadInterval); // every 3 sec
    });

    function dataDeleteInput(id) {
        $.ajax({
            url: "/api/activityinputs/" + id,
            type: "DELETE",
            success: function () {
                // TODO
            },
            error: function () {
                // TODO
            }
        });
    }
</script>
