<h3>Activities</h3>
<table id="tableActivities" class="table table-hover">
    <thead>
        <tr>
            <td><dl><dt>Name</dt></dl></td>
            <td><dl><dt>Description</dt></dl></td>
            <td><dl><dt>Costs</dt><dd>Cashflow</dd></dl></td>
            <td><dl><dt>Costs</dt><dd>Variance</dd></dl></td>
            <td><dl><dt>Time</dt><dd>Duration</dd></dl></td>
            <td>
                <a href="#modalActivity" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="modalActivity" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDataActivity" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Activity</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-6" for="dataActivityName">Name</label>
                            <div class="col-md-4">
                                <input id="dataActivityName" class="form-control" type="text" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6" for="dataActivityDescription">Description</label>
                            <div class="col-md-4">
                                <input id="dataActivityDescription" class="form-control" type="text" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6" for="dataActivityCashflow">Cashflow</label>
                            <div class="col-md-4">
                                <input id="dataActivityCashflow" class="form-control" type="number" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6" for="dataActivityVariance">Variance</label>
                            <div class="col-md-4">
                                <input id="dataActivityVariance" class="form-control" type="number" pattern="\d+(.\d{2})?" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6" for="dataActivityDuration">Duration</label>
                            <div class="col-md-4">
                                <input id="dataActivityDuration" class="form-control" type="number" pattern="\d+(.\d{2})?" required="required" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="submitFormDataActivity" class="btn btn-success" value="Create" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>

    </div>
</div>
<script>
    $('#formDataActivity').submit(function () {
        $(this).validate();

        if ($(this).valid()) {
            dataCreateActivity();
        }

        return false;
    });

    function displayActivities() {
        $('#dataInputActivity').empty();
        $('#dataOutputActivity').empty();
        $('#dataCoverActivity').empty();

        dataContainer.getActivities().forEach(function (activity) {
            $('#dataInputActivity').append("<option>" + activity.name + "</option>");
            $('#dataOutputActivity').append("<option>" + activity.name + "</option>");
            $('#dataCoverActivity').append("<option>" + activity.name + "</option>");
        });

        $('#tableActivities tbody').empty();

        dataContainer.getActivities().forEach(function (item) {
            $('#tableActivities tbody');
            var s = '<tr id="\'' + item.id + '\'"><td>';
            s += item.name;
            s += '</td><td>';
            s += item.description;
            s += '</td><td>';
            s += item.cashflow;
            s += '</td><td>';
            s += item.variance;
            s += '</td><td>';
            s += item.duration;
            s += '</td><td>';
            s += '<a href="javascript:dataDeleteActivity(\'';
            s += item.id;
            s += '\')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
            s += '</td></tr>';

            $('#tableActivities tbody').append(s);
        });
    }

    function loadActivities(async = true) {
        $.ajax({
            url: '/api/activities',
            type: "GET",
            async: async,
            success: function (data) {
                data.forEach(function(item) {
                    dataContainer.addActivity(item);
                });

                displayActivities();
            }
        });
    };

        function dataCreateActivity() {
            var model = new Object();
            model.Name = $('#dataActivityName').val();
            model.Description = $('#dataActivityDescription').val();
            model.Cashflow = $('#dataActivityCashflow').val();
            model.Variance = $('#dataActivityVariance').val();
            model.Duration = $('#dataActivityDuration').val();

            $.ajax({
                url: "/api/activities",
                type: "POST",
                data: model,
                success: function (model) {
                    dataContainer.addActivity(model);
                    displayActivities();

                    $("#modalActivity").modal("hide");
                    $('#formDataActivity').trigger("reset");
                },
                error: function () {
                    // TODO
                    $("#resultDataActivity")
                        .html(
                            "<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>");
                }
            });
        }
        function dataDeleteActivity(id) {
            $.ajax({
                url: "/api/activities/" + id,
                type: "DELETE",
                success: function () {
                    loadAll();
                },
                error: function () {
                    // TODO
                }
            });
        };
</script>
