<div class="row">
<div class="col-md-6">
    @Html.Partial("Data_Activities")
</div>
<div class="col-md-6">
    @Html.Partial("Data_Objects")
</div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.Partial("Data_Input")
        <h3>Activity Input</h3>
        <table class="table">
            <thead>
            <tr>
                <td>Activity Name</td>
                <td>o1</td>
                <td>o2</td>
                <td>o3</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>a1</td>
                <td>true</td>
                <td>false</td>
                <td>false</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Activity Output</h3>
        <table class="table">
            <thead>
            <tr>
                <td>Activity Name</td>
                <td>o1</td>
                <td>o2</td>
                <td>o3</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>a1</td>
                <td>true</td>
                <td>true</td>
                <td>false</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Activit Attribute</h3>
        <table class="table">
            <thead>
            <tr>
                <td>Id</td>
                <td>Value</td>
                <td>Percentage</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>5%</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Covering Activities</h3>
        <table class="table">
            <thead>
            <tr>
                <td>Activity Name</td>
                <td>1-1</td>
                <td>1-2</td>
                <td>1-3</td>
                <td>1-4</td>
                <td>1-5</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>a1</td>
                <td>true</td>
                <td>true</td>
                <td>true</td>
                <td>true</td>
                <td>true</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>