<h3>Objects</h3>
<table id="tableObjects" class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Process<br/>(Input)</th>
        <th>Process<br/>(Output)</th>
        <th>Price</th>
        <th>
            <a href="#modalObject" data-toggle="modal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="modalObject" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "formDataObject"}))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Object</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-6" for="dataObjectName">Name</label>
                            <div class="col-md-4">
                                <input id="dataObjectName" class="form-control" type="text" required="required"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6" for="dataObjectDescription">Description</label>
                            <div class="col-md-4">
                                <input id="dataObjectDescription" class="form-control" type="text" required="required"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6" for="dataObjectType">Type</label>
                            <div class="col-md-4">
                                <input id="dataObjectType" class="form-control" type="text" required="required"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6" for="dataObjectProcessInput">Process Input</label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <input class="form-control" id="dataObjectProcessInput" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6" for="dataObjectProcessOutput">Process Output</label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <input class="form-control" id="dataObjectProcessOutput" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6" for="dataObjectPrice">Price</label>
                            <div class="col-md-4">
                                <input id="dataObjectPrice" class="form-control" type="number" required="required"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="submitFormDataObject" class="btn btn-success" value="Create"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>

    </div>
</div>
<script>
    $('#formDataObject').submit(function() {
        $(this).validate();

        if ($(this).valid()) {
            dataCreateObject();
        }

        return false;
    });

    function displayObjects() {
        $('#dataInputObject').empty();
        $('#dataOutputObject').empty();

        dataContainer.getObjects().forEach(function(object) {
            $('#dataInputObject').append(`<option>${object.name}</option>`);
            $('#dataOutputObject').append(`<option>${object.name}</option>`);
        });

        $('#tableObjects tbody').empty();

        dataContainer.getObjects().forEach(function(item) {
            $('#tableObjects tbody');
            var s = `<tr id="'${item.id}'"><th>`;
            s += item.name;
            s += '</th><td>';
            s += item.description;
            s += '</td><td>';
            s += item.type;
            s += '</td><td>';
            s += item.processInput;
            s += '</td><td>';
            s += item.processOutput;
            s += '</td><td>';
            s += item.price;
            s += '</td><td>';
            s += '<a href="javascript:dataDeleteObject(\'';
            s += item.id;
            s += '\')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
            s += '</td></tr>';

            $('#tableObjects tbody').append(s);
        });
    }

    function loadObjects(async = true) {
        $.ajax({
            url: '/api/objects',
            type: "GET",
            async: async,
            success: function(data) {
                data.forEach(function(item) {
                    dataContainer.addObject(item);
                });

                displayObjects();
            }
        });
    }

    function dataCreateObject() {
        const model = new Object();
        model.name = $('#dataObjectName').val();
        model.description = $('#dataObjectDescription').val();
        model.type = $('#dataObjectType').val();
        model.processInput = $('#dataObjectProcessInput').bootstrapToggle('state')[0].checked;
        model.processOutput = $('#dataObjectProcessOutput').bootstrapToggle('state')[0].checked;
        model.price = $('#dataObjectPrice').val();

        $.ajax({
            url: "/api/objects",
            type: "POST",
            data: model,
            success: function(model) {
                dataContainer.addObject(model);
                displayObjects();

                $("#modalObject").modal("hide");
                $('#formDataObject').trigger("reset");
                $('#dataObjectProcessInput').bootstrapToggle('off');
                $('#dataObjectProcessOutput').bootstrapToggle('off');
            },
            error: function() {
                // TODO
            }
        });
    }

    function dataDeleteObject(id) {
        $.ajax({
            url: `/api/objects/${id}`,
            type: "DELETE",
            success: function() {
                loadAll();
            },
            error: function() {
                // TODO
            }
        });
    }
</script>