<h3>Attributes</h3>
<table id="tableAttributes" class="table table-hover">
    <thead>
    <tr>
        <td>Id</td>
        <td>Value</td>
        <td>Probability</td>
        <td>
            <a href="#modalAttribute" data-toggle="modal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="modalAttribute" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDataAttribute" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Attribute</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-6" for="attributeId">Id</label>
                            <div class="col-md-4">
                                <input id="attributeId" class="form-control" type="text" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6" for="attributeValue">Value</label>
                            <div class="col-md-4">
                                <input id="attributeValue" class="form-control" type="text" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-6" for="attributeProbability">Probability</label>
                            <div class="col-md-4">
                                <input id="attributeProbability" class="form-control" type="number" required="required" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="submitFormDataAttribute" class="btn btn-success" value="Create" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <script>
                    $(function () {
                        $('#formDataAttribute').submit(function () {
                            if ($(this).valid()) {

                                var model = new Object();
                                model.decisionId = $('#Name').val();
                                model.decisionValue = $('#Description').val();
                                model.decisionProbability = $('#Cashflow').val();

                                $.ajax({
                                    url: "/api/activityattributes",
                                    type: "POST",
                                    data: JSON.stringify(model),
                                    contentHeader: 'application/json',
                                    success: function () {
                                        $("#modalAttribute").modal("hide");
                                        $('#formDataAttribute').trigger("reset");
                                    },
                                    error: function () {
                                        $("#resultAttributeSettings")
                                            .html(
                                                "<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>");
                                    }
                                });
                            }

                            return false;
                        });
                    });
                </script>
            }
        </div>

    </div>
</div>
<script>

    $(function () {
        setInterval(function () {
                $.getJSON({
                    url: '/api/activityattributes',
                    type: "GET",
                    success: function (data) {
                        if (data == null || data.length == 0 || data[0] == null) {
                            return;
                        }

                        $('#tableAttributes tbody').empty();

                        data.forEach(function (item) {
                            $('#tableAttributes tbody');
                            var s = '<tr id="\'' + item.id + '\'"><td>';
                            s += item.decisionId;
                            s += '</td><td>';
                            s += item.decisionValue;
                            s += '</td><td>';
                            s += item.decisionProbability;
                            s += '</td><td>';
                            s += '<a href="javascript:dataDeleteAttribute(\'';
                            s += item.id;
                            s += '\')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                            s += '</td></tr>';

                            $('#tableAttributes tbody').append(s);
                        });
                    }
                });
            },
            reloadInterval); // every 3 sec
    });

    function dataDeleteAttribute(id) {
        $.ajax({
            url: "/api/activityattributes/" + id,
            type: "DELETE",
            success: function () {
                // TODO
            },
            error: function () {
                // TODO
            }
        });
    }
</script>
