<h2>Import / Export</h2>
<p>
    <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-info">
                Browse&hellip; <input id="importFiles" type="file" style="display: none;">
            </span>
        </label>
        <input type="text" class="form-control" readonly>
    </div>
</p>
<p>
    <button id="dataImport" type="button" class="btn btn-info"><span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp;Data Import</button>
    <button id="dataExport" type="button" class="btn btn-info"><span class="glyphicon glyphicon-export" aria-hidden="true"></span>&nbsp;Data Export</button>
</p>
<script>
    $('#dataExport').click(function() {
        window.open("/api/data/export");
    });

    $('#dataImport').click(function() {
        const formData = new FormData();
        formData.append('file', $('#importFiles')[0].files[0]);

        $.ajax({
            url: '/api/data/import',
            type: 'POST',
            data: formData,
            processData: false, // tell jQuery not to process the data
            contentType: false, // tell jQuery not to set contentType
            success: function() {
                loadAll();
            }
        });
    });
</script>