@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "formAlgorithmSettings"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Algorithm Settings</h2>

        <div class="form-group">
            <div class="col-md-3">
                <input id="InitialGenome" class="form-control" type="text"/>
            </div>
            <div class="col-md-8">
                <dl>
                    <dt>
                        <label class="control-label" for="InitialGenome">Initial Genome</label>
                    </dt>
                    <dd>You might provide an initial genome for the first generation.</dd>
                </dl>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <input id="MaximumNumberOfGenerations" class="form-control" type="number"/>
            </div>
            <div class="col-md-8">
                <dl>
                    <dt>
                        <label class="control-label" for="MaximumNumberOfGenerations">Maximum Number of Generations</label>
                    </dt>
                    <dd>Sets the maximum naumber of generations the algoritm evolutes.</dd>
                </dl>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-3">
                <input id="PopulationSize" class="form-control" type="number"/>
            </div>
            <div class="col-md-8">
                <dl>
                    <dt>
                        <label class="control-label" for="PopulationSize">Population Size</label>
                    </dt>
                    <dd>Sets the size of every generations population.</dd>
                </dl>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-3">
                <input id="TournamentSize" class="form-control" type="number"/>
            </div>
            <div class="col-md-8">
                <dl>
                    <dt>
                        <label class="control-label" for="TournamentSize">Tournament Size</label>
                    </dt>
                    <dd>Sets the number of participants in tournament selection, used when creating new generations.</dd>
                </dl>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <input id="CrossoverProbability" class="form-control" type="text" pattern="\d+(.\d{2})?" required="required"/>
            </div>
            <div class="col-md-8">
                <dl>
                    <dt>
                        <label class="control-label" for="CrossoverProbability">Crossover Probability</label>
                    </dt>
                    <dd>This starting probability decreases over generations as to reduce solution space exploration.</dd>
                </dl>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <input id="MutationProbability" class="form-control" type="text" pattern="\d+(.\d{2})?" required="required"/>
            </div>
            <div class="col-md-8">
                <dl>
                    <dt>
                        <label class="control-label" for="MutationProbability">Mutation Probability</label>
                    </dt>
                    <dd>This starting probability increases over generations as to add solution space exploitation.</dd>
                </dl>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <div class="input-group">
                    <input id="Seed" class="form-control" type="number"/>
                    <span class="input-group-addon">
                        <a href="#">
                            <span class="glyphicon glyphicon-random" id="btnRandom" aria-hidden="true"></span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-md-8">
                <dl>
                    <dt>
                        <label class="control-label" for="Seed">Seed</label>
                    </dt>
                    <dd>For generating same output over multiple runs, please specify your own random seed.</dd>
                </dl>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
            </div>
            <div class="col-md-8">
                <div id="resultAlgorithmSettings"></div>
                <input type="submit" id="submitAlgorithmSettings" value="Create" class="btn btn-info"/>
                <input type="button" id="defaultAlgorithmSettings" value="Default" class="btn btn-warning"/>
            </div>
        </div>
        <div id="resultSettingsAlgorithm">&nbsp;</div>
    </div>
    <script>
        $("#btnRandom").click(function() {
            $("#Seed").val(Math.floor((Math.random() * 10000) + 1));
            return false;
        });

        function loadDefaultAlgorithmSettings() {
            $.ajax({
                url: "/api/settings/algorithm",
                type: "GET",
                success: function(data) {
                    $('#CrossoverProbability').val(data.CrossoverProbability);
                    $('#InitialGenome').val(data.InitialGenome);
                    $('#MaximumNumberOfGenerations').val(data.MaximumNumberOfGenerations);
                    $('#MutationProbability').val(data.MutationProbability);
                    $('#PopulationSize').val(data.PopulationSize);
                    $('#Seed').val(data.Seed);
                    $('#TournamentSize').val(data.TournamentSize);
                }
            });
        }

        $(document).ready(function() {
            loadDefaultAlgorithmSettings();
        });

        $('#defaultAlgorithmSettings').click(function() {
            loadDefaultAlgorithmSettings();
            return false;
        });

        $('#formAlgorithmSettings').submit(function() {
            if ($(this).valid()) {

                const model = new Object();
                model.CrossoverProbability = $('#CrossoverProbability').val();
                model.InitialGenome = $('#InitialGenome').val();
                model.MaximumNumberOfGenerations = $('#MaximumNumberOfGenerations').val();
                model.MutationProbability = $('#MutationProbability').val();
                model.PopulationSize = $('#PopulationSize').val();
                model.Seed = $('#Seed').val();
                model.TournamentSize = $('#TournamentSize').val();

                $.ajax({
                    url: "/api/settings/algorithm",
                    type: "POST",
                    data: model,
                    success: function() {
                        $("#resultSettingsAlgorithm").html(
                            '<div id="algoAlert" class="alert alert-success"><button type="button" class="close">×</button>Successfully saved!</div>');
                        window.setTimeout(function () { $("#algoAlert").alert('close'); }, 3000);
                    },
                    error: function() {
                        $("#resultSettingsAlgorithm").html(
                            '<div id="algoAlert" class="alert alert-warning"><button type="button" class="close">×</button>Successfully saved!</div>');
                        window.setTimeout(function () { $("#algoAlert").alert('close'); }, 3000);
                    }
                });
            }

            return false;
        });

    </script>
}