<h2>Status</h2>
<div id="divStatus">&nbsp;</div>
<script>
            $(function () {
                setInterval(function () { $('#divStatus').load('/api/status'); }, reloadInterval); // every 0.5 sec
            });
</script>
